@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-1: #f86f2d;
  --color-2: #fa8f3d;
  --color-3:#faaa3a;
  --white-hover:#ffffffcc;
  --font-primary: 'Overpass', Arial, sans-serif;
  --font-secondary: 'Dosis', Arial, sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--font-primary);
  background-color: var(--white);
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5); /* lighten(--black, 50%) equivalent */
}

body.menu-show {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

span {
  color: rgba(0, 0, 0, 0.25); /* lighten(--black, 75%) equivalent */
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.4;
  color: var(--black);
  font-family: var(--font-secondary);
  font-weight: 400;
}
